#dragDropArea{
    background-color: rgba(255, 255, 255, 0.7);
    border: #ddd dashed 5px;
    min-height: 200px;
    text-align: center;
    padding: 3vmin;
    display: block;
    margin-left: 10%;
    margin-right: 10%;
  }
#dragDropArea p{
    color: #999;
    font-size: 1em;
}
#dragDropArea .dragDropButton{
    margin-top: 5vmin;
    padding: 1vmin;
    font-size: 1em;
    position: relative;
    display: inline-block;
    user-select: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    color: #FFFFFF;
    border-radius: 0.5em;
    background-color:  #999;
    border: #ddd 5px solid;
    cursor: pointer;
}

#dragDropArea .submitButton{
    margin-top: 5vmin;
    padding: 1vmin;
    font-size: 1em;
    position: relative;
    display: inline-block;
    user-select: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    color: #FFFFFF;
    border-radius: 0.5em;
    background-color:  #999;
    border: #ddd 5px solid;
    cursor: pointer;
    display: none;
}

#fileInput{
    font-size: 1em;
    color: black;
    font-family: "Sawarabi Mincho", sans-serif;
}

.dragDropButton input{
    margin: auto;
    display: none;
}

.submitButton input{
    margin: auto;
    display: none;
}